<!-- <div class="map-header">
  <h1>Our spy satellites show you to be in <span><%= current_location['city']%>, <%= current_location['region_code']%> (<%= current_location['zipcode']%>)</span></h1>
  <h2>Here are some rides in your area...</h2>
</div> -->
<div class="row-fluid">
  <header class="map-header span12">
    <h1>Rides</h1>
    <% if current_location %>
    <h2><%= current_location['city']%>, <%= current_location['region_code']%> (<%= current_location['zipcode']%>)</h2>
    <% end %>
  </header>
</div>

<div class="row-fluid">
  <div class="ridesCount span12">
    <p>We found <span><%= @rides.size %> <%= 'ride'.pluralize(@rides.size) %></span> in your area</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <div class="span8" id="ridesSearch">
      <div style="position: relative; width: 100%;">
        <input type="text" id="location" class="" style="width: 100%;" placeholder="Search by address or location name"/>
        <button type="submit" class="btn">Search</button>
      </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span2" style="">
    <div class="ridesListContainer">
      <ul id="ridesList" style="margin: 0"></ul>
    </div>
  </div>
  <div class="span10" id="mapBox">
    <%= gmaps(
      :map_options => { :zoom => 11, :center_latitude => current_location['latitude'], :center_longitude => current_location['longitude'], :auto_zoom => false, :auto_adjust => false, :libraries => ['places'] },
      :markers => { :data => @rides_json, :options => {"custom_infowindow_class" => 'infobox', :list_container => 'ridesList' } }
    )%>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 addLink" style="text-align: right;">
    <p>Don't see a ride you're looking for? <a href="/rides/add">Add it!</a>
  </div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript">
    $(function(){
      $('.tip').live('tooltip');
      $('#ridesSearch button').click(function(){
        var e = jQuery.Event('keydown');
        e.keyCode = 13;
        e.charCode = 13;
        e.which = 13;
        $('#location').trigger(e);
        e = jQuery.Event('keyup');
        e.keyCode = 13;
        e.charCode = 13;
        e.which = 13;
        $('#location').trigger(e);
        e = jQuery.Event('keypress');
        e.keyCode = 13;
        e.charCode = 13;
        e.which = 13;
        $('#location').trigger(e);
      })
    });
    Gmaps.map.infobox = function(boxText) {
      return {
         content: boxText
        ,disableAutoPan: false
        ,maxWidth: 0
        ,pixelOffset: new google.maps.Size(-140, 0)
        ,zIndex: null
        ,boxStyle: { 
          opacity: 1.0
          ,width: "250px"
          ,padding: "10px"
           }
        ,closeBoxMargin: "6px 6px 6px 6px"
        ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
        ,infoBoxClearance: new google.maps.Size(1, 1)
        ,isHidden: false
        ,pane: "floatPane"
        ,enableEventPropagation: false
      }
    };
    Gmaps.map.callback = function() {
      Gmaps.map.map_options.scrollwheel = false;
    };
    var autocomplete_input = document.getElementById('location');
    var options = {};
    var autocomplete = new google.maps.places.Autocomplete(autocomplete_input, options);
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      if(place.geometry) {
        Gmaps.map.map.setCenter(place.geometry.location);
        Gmaps.map.map.setZoom(10);
        $('.map-header h2').slideUp();

        $.get('/rides.json', { latitude: place.geometry.location.lat(), longitude: place.geometry.location.lng() }, function(data) {
          Gmaps.map.replaceMarkers(data);
          $('.ridesCount span').html(data.length == 1 ? '1 ride' : (data.length + ' rides'));
        });
      } else {
        alert('No results found, try a different search term.');
      }
      
    });
  </script>
<% end %>

<%= content_for :page_title, 'Find cycling group rides in your area'%>